@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/* Background image*/
html {
    background: url(./Images/calculator.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

/* Body */
body {
    min-height: 100vh;
    margin: 0px;
}

#calc main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding:0 5%;
    align-items: flex-start;
    font-family: Noto Sans JP;
}
main>h1 {
    width: 100%;
}
/* Links styling */
a:link {
    text-decoration: none;
    color: #846851;
}

a:visited {
    text-decoration: none;
    color: #846851;
}

a:hover {
    color: #644f3e;
    font-weight: bold;
}

#home {
    font-family: Sacramento, normal;
    font-size: 5em;
    font-weight: bold;
    padding: 0px 20px;
}

ul li {
    display: inline;
    padding: 20px;
    font-family: Noto Sans JP;
    font-size: 1.25em;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    justify-self: flex-end;
}

h1 {
    font-size: 4.5em;
}

button {
    background-color: transparent;
    font-family: Noto Sans JP;
    font-weight: bold;
    font-size: 1.5em;
    color: #846851;
    padding: 15px 32px;
    border: #846851 solid 3.5px;
    text-align: center;
    float:right;
    margin-bottom: 10px;
    border-radius: 3%;
}

button:hover {
    background-color: #846851;
    color: white;
}

/* Footer */
footer {
    padding: 20px;
    font-family: Noto Sans JP;
}

footer>p {
    text-align: center;
}

form input.amount {
    margin-left: 20px;
}

form div {
    margin-block: 20px;
}

form div input {
    padding-block: 5px;
}

form#calculator {
    width: 55%;
};
.title{
    text-align: left;
    padding-left: 10%;
    font-size: large;
    font-weight: 200;
};

.amount{
    width: 200px;
    
}
.output{
    font-size: x-large;
    background-color: rgb(189, 195, 182);
    opacity: .9;
    border:inset;
    padding: 30px;
    border-radius: 3%;
    
}
  .output{
   width: 50%;
   padding-right: 60px;
   align-items: center;
   display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    
    

  }

/*Form alignment*/
input#expanses-entertainment {
    margin-left: 13px;
}

input#expanses-transport {
    margin-left: 10px;
}

input#expanses-shopping {
    margin-left: 60px;
}

input#food-expanses {
    margin-left: 2px;
}

input#utility {
    margin-left: 21px;
}

input#house {
    margin-left: 70px;
}

input#pay-check {
    margin-left: 80px;
}

form.budget-input{
    font-size:x-large;
    font-weight: inherit;
    text-decoration: solid;
    
}
#calc-title{
    font-family: Noto Sans JP, normal;
    padding:30px;
    text-decoration:solid;
    font-size: xx-large;
}

input{
    width: 30%;
    border-radius: 4px;
    margin: 3px;
}

/*CSS media Queries*/
@media screen and (max-width: 480px) {
    h1 {
      font-size: 18px;
    }
    h3{
        font-size: 18px;
    }
    form#calculator{
        width: 30%;
    }
    .output{
        width: 20%;
        display: grid;
        padding-left:30%;
        background-color:transparent;
        border: none;
        margin:10px;
    }
    form.budget-input{
        font-size: inherit;
        font-weight: 800;
    }

    /*Form alignment*/
    

    input#expanses-transport {
      margin-left: 0px;
   }

     input#expanses-shopping {
        margin-left: 0px;
    }

    input#food-expanses {
       margin-left: 0px;
   }

    input#utility {
      margin-left: 0px;
   }

   input#house {
     margin-left: 0px;
   }

   input#pay-check {
    margin-left: 0px;
   }
 
  .amount{
    width: 150px;
    
   }
  form div {
    margin-block: 0px;
  }

  form div input {
    padding-block: 0px;
  }
   form input.amount {
    margin-left: 0px;
 }
   h1 {
    font-size: 4em;
  }
   button{
    padding:0px 0px;
  }
   button{
    margin-top: 20px;
  }
}